* {
    list-style: none;
    text-decoration: none;
}

body {
    background: white url('images/background.png') no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    width: 50%;
    margin: 10px auto;
}

.row {
    margin: 5px;
}

h1 {
    color: black;
}

ul {
    padding-left: 0%;
}

li a {
    color: black;
}

li a:hover{
    color: red;
}